TScrape/bin
TScrape/obj
TScrape.csproj
docker-compose.yml
flags
TScrape/obj/Debug/net8.0/TScrape.AssemblyInfo.cs

.fake
TScrape/obj/Debug/net8.0/TScrape.AssemblyInfo.cs
TScrape/obj/Debug/net8.0/TScrape.AssemblyInfoInputs.cache
TScrape/obj/Debug/net8.0/TScrape.AssemblyInfo.cs
TScrape/obj/Debug/net8.0/TScrape.AssemblyInfoInputs.cache
TScrape/bin
TScrape/obj
TScrape.csproj
docker-compose.yml
flags
TScrape/obj/Debug/net8.0/TScrape.AssemblyInfo.cs
